In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

Using linear Regression to perform predictions using the categorical and numerical features

1. Import relevant libraries
2. Data pre-processing -- oneHotecoding categorical data
3. Split data to Features(independent(X)) and Targets(dependent(y))
4. Split data into traing and test sets
5. Train model
6. Make predictions

In [7]:
df = pd.read_csv("D:\GIT1\Machine-Learning\Regression\CAR DETAILS FROM CAR DEKHO.csv")
df

,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...
4335,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [8]:
#Data pre-processing -- oneHotecoding categorical data
df =pd.get_dummies(df,columns=['fuel','seller_type','transmission','owner'],drop_first=True)
df

,year,selling_price,km_driven,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Manual,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,2007,60000,70000,0,0,0,1,1,0,1,0,0,0,0
1,2007,135000,50000,0,0,0,1,1,0,1,0,0,0,0
2,2012,600000,100000,1,0,0,0,1,0,1,0,0,0,0
3,2017,250000,46000,0,0,0,1,1,0,1,0,0,0,0
4,2014,450000,141000,1,0,0,0,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4335,2014,409999,80000,1,0,0,0,1,0,1,0,1,0,0
4336,2014,409999,80000,1,0,0,0,1,0,1,0,1,0,0
4337,2009,110000,83000,0,0,0,1,1,0,1,0,1,0,0
4338,2016,865000,90000,1,0,0,0,1,0,1,0,0,0,0
4339,2016,225000,40000,0,0,0,1,1,0,1,0,0,0,0

In [9]:
#Split data to Features(independent(X)) and Targets(dependent(y))
X= df.drop('selling_price',axis=1)
y =df['selling_price']

In [10]:
#Split data into traing and test sets
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [14]:
#get the number of feature columns and train
print(X_train.columns) 
print(y_train)

Index(['year', 'km_driven', 'fuel_Diesel', 'fuel_Electric', 'fuel_LPG',
       'fuel_Petrol', 'seller_type_Individual', 'seller_type_Trustmark Dealer',
       'transmission_Manual', 'owner_Fourth & Above Owner',
       'owner_Second Owner', 'owner_Test Drive Car', 'owner_Third Owner'],
      dtype='object')
227     1500000
964      500000
2045      92800
1025      95000
4242     685000
         ...
3444     500000
466      133000
3092     665000
3772     250999
860      175000
Name: selling_price, Length: 3472, dtype: int64

In [16]:
#Training Model using the training set( X_train and y_train)
regressor = LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression()

In [18]:
#making predictions and evaluate model
y_pred = regressor.predict(X_test)
mse = mean_squared_error(y_test,y_pred)
print("MSE: ",mse)

MSE:  182146878750.28098

In [ ]:
# Prediction input with correct feature names and order
new_input = {
    'year': [2007],
    'km_driven': [50000],
    'fuel_Diesel': [0],
    'fuel_Electric': [0],
    'fuel_LPG': [0], 
    'fuel_Petrol': [1],
    'seller_type_Trustmark Dealer': [1],
    'transmission_Manual': [0],
    'owner_Fourth & Above Owner': [1],
    'owner_Second Owner': [0],
    'owner_Test Drive Car': [0],
    'owner_Third Owner': [0]
}

# Create a DataFrame with the same order of columns as in training data
new_input_df = pd.DataFrame(new_input, columns=X_train.columns)

# Make prediction
new_prediction = regressor.predict(new_input_df)
print("Predicted Price:", new_prediction[0])

In [21]:
predict=regressor.predict([[2007,50000,0,0,0,1,1,0,1,0,0,0,0]])
print("The predicted selling price is: ",predict)

The predicted selling price is:  [52158.03863718]

c:\Users\MARTIN KILOMBE\anaconda3\envs\machinelearning\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

Saving the model to a file - using pickle
import pickle

# Your trained machine learning model (replace with your actual model)
trained_model = ...  # Your trained model object

# Save the model to a file using pickle
with open('model.pkl', 'wb') as model_file:
    pickle.dump(trained_model, model_file)

import pickle

# Load the model from the saved file
with open('model.pkl', 'rb') as model_file:
    loaded_model = pickle.load(model_file)

In [23]:
import pickle

In [25]:
#save file to working directory
with open('model_pickle','wb') as f:
    pickle.dump(regressor,f)

In [26]:
#load the file
with open('model_pickle','rb') as f:
    mp =pickle.load(f)

In [28]:
#predicting the variables
mp.predict([[2007,50000,0,0,0,1,1,0,1,0,0,0,0]])

c:\Users\MARTIN KILOMBE\anaconda3\envs\machinelearning\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([52158.03863718])

Saving the model to a file - using joblib
import joblib

# Saving a model using joblib
joblib.dump(trained_model, 'model.joblib')

# Loading a model using joblib
loaded_model = joblib.load('model.joblib')

In [29]:
import joblib

In [30]:
#Saving a model using joblib
joblib.dump(regressor,'model.joblib')

['model.joblib']

In [31]:
#loading a model using joblib
loaded_model = joblib.load('model.joblib')

In [32]:
loaded_model.predict([[2007,50000,0,0,0,1,1,0,1,0,0,0,0]])

c:\Users\MARTIN KILOMBE\anaconda3\envs\machinelearning\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([52158.03863718])