In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
df= pd.read_csv("D:\GIT1\Machine-Learning\Regression\housing.csv")
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

The regression is going to cover the Numerical(area,bedrooms,bathrooms,stories,parking) and Non-numerical features(mainroad,guestroom,basement,hotwaterheating,airconditioning,prefarea,furnishingstatus)

In [4]:
#Numerical Features and inputs
df_num = df[['price','area','bedrooms','bathrooms','stories','parking']]
df_num

        price  area  bedrooms  bathrooms  stories  parking
0    13300000  7420         4          2        3        2
1    12250000  8960         4          4        4        3
2    12250000  9960         3          2        2        2
3    12215000  7500         4          2        2        3
4    11410000  7420         4          1        2        2
..        ...   ...       ...        ...      ...      ...
540   1820000  3000         2          1        1        2
541   1767150  2400         3          1        1        0
542   1750000  3620         2          1        1        0
543   1750000  2910         3          1        1        0
544   1750000  3850         3          1        2        0

[545 rows x 6 columns]

In [5]:
#fit regression
reg = linear_model.LinearRegression()
reg.fit(df_num[['area','bedrooms','bathrooms','stories','parking']],df_num.price)

LinearRegression()

In [6]:
#getting coefficients and intercepts ---- y = m1*3.31115495e+02 + m2*1.67809788e+05 + m3*1.13374016e+06 + m4*5.47939810e+05 + m5*3.77596289e+05 - 145734.4894558806
reg.coef_ , reg.intercept_

(array([3.31115495e+02, 1.67809788e+05, 1.13374016e+06, 5.47939810e+05,
        3.77596289e+05]),
 -145734.4894558806)

In [11]:
#predicting using method 1
reg.predict([[9960,3,2,2,2]])

c:\Users\MARTIN KILOMBE\anaconda3\envs\machinelearning\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([7774157.72976678])

In [10]:
#predicting using method 2
# Predicting using named features
prediction_input = pd.DataFrame({
    'area': [9960],
    'bedrooms': [3],
    'bathrooms': [2],
    'stories': [2],
    'parking': [2]
})
prediction = reg.predict(prediction_input)
print(prediction)

[7774157.72976678]